* {
	margin: 0;
	padding: 0;
}

html,
body,
#app {
	height: 100%;
}

#app {
    display:flex;
    flex-direction: column;
    min-height: 100%;
    position: relative
}

main {
    flex-grow: 1
}

footer {
    flex-shrink: 0
}